.background-image{
    --background: url("../home/img3.jpg") 0 0/100% 100% no-repeat;
}

.footer{
    text-align: center;
    bottom: 50%;
    position: absolute;
    right:20%;
    font-style: serif;
    color: #bb9f22;
    font-size: 50%;
}
p{
   // text-align: center;
    bottom: 0%;
    position: absolute;
    right:10%;
    font-style: serif;
    font-size: x-large;
    color: #bb9f22;
    
}